body {
    font-family: Arial;
    background: radial-gradient(circle at center, #0f2027, #203a43, #000000);
    color: white;
    text-align: center;
}

input, select, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: linear-gradient(45deg, #00f2fe, #4facfe);
    color: white;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

#mainPage {
    display: none;
}

.question-box {
    background: rgba(255,255,255,0.08);
    margin: 15px;
    padding: 15px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
}

/* AI Animation */
/* ===== AI POWERED SMILEY ===== */

.ai-smiley {
    margin: 40px auto;
    width: 200px;
    height: 200px;
    position: relative;
}

.face {
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, #00f2fe, #0f2027);
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 40px cyan;
    animation: glowFace 2s infinite alternate;
}

.eyes {
    position: absolute;
    top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.eye {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    position: relative;
    animation: blink 4s infinite;
}

.mouth {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 40px;
    border-bottom: 5px solid white;
    border-radius: 0 0 80px 80px;
    animation: smileMove 3s infinite ease-in-out;
}

/* Glow Animation */
@keyframes glowFace {
    from { box-shadow: 0 0 20px cyan; }
    to { box-shadow: 0 0 60px cyan; }
}

/* Blinking */
@keyframes blink {
    0%, 90%, 100% { height: 25px; }
    95% { height: 5px; }
}

/* Smile Movement */
@keyframes smileMove {
    0% { width: 80px; }
    50% { width: 100px; }
    100% { width: 80px; }
}
.p1 { top: -10px; left: 70px; }
.p2 { bottom: -10px; left: 70px; }
.p3 { left: -10px; top: 70px; }
.p4 { right: -10px; top: 70px; }

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(15px); }
    100% { transform: translateY(0px); }
}